*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: antaro;
}

body {
    background-color: pink;
}

body > div {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

body > div::after ,
body > div::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}

body > div::after {
    background: linear-gradient(135deg, #e158f3, #f8cee8);
    left: -80px;
    top: -80px;
}

body > div::before {
    background: linear-gradient(135deg, #d2e092, #f7a35e);
    right: -50px;
    bottom: -100px;
}

form {
    width: 400px;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(238, 175, 175, 0.1);
    box-shadow: 0 0 40px rgba(231, 125, 148, 0.6);
    padding: 50px 35px;
    color: #fff;
}

form * {
    border: 0;
    outline: 0;
}

form h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

label {
    display: block;
    font-size: 1em;
    margin-top: 30px;
    font-weight: 500;
}

input {
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgba(190, 22, 22, 0.148);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}
::placeholder {
    color: #e5e5e5;
}

button {
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
    color: #410c6d;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

form .options {
    display: flex;
    margin-top: 20px;
}
form .options div {
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    text-align: center;
    cursor: pointer;
    color: #eaf0fb;
    background-color: #b91d1d45;
}

form .options div:hover {
    background-color: #e9000045;
}

form .options div:last-child {
    margin-left: 25px;
    font-weight: bold;
    color: rgb(187, 92, 48);
}

